<h1>Observation</h1>

<% if observation.reservation %>
  <p>
    Reserved by <%= link_to observation.reservation.user.name, observation.reservation.user %>
    <% if observation.reservation.pending? %>
      (<%= link_to "accept", accept_telescope_reservation_path(telescope, observation.reservation), method: :put %>/<%= link_to "decline", decline_telescope_reservation_path(telescope, observation.reservation), method: :put %>)
    <% end %>
  </p>
<% else %>
  <p>No reservation yet.</p>
<% end %>

<hr>

<p><%= link_to 'Cancel observation', telescope_observation_path, method: :delete, data: { confirm: 'Are you sure?' } %></p>
