<h1>Editing Telescope</h1>

<%= render 'form' %>

<hr>

<%= link_to 'Show', telescope %> |
<%= link_to 'Destroy', telescope, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', account_telescopes_path %>
