<p id="notice"><%= notice %></p>

<h1>Listing Telescopes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% telescopes.each do |telescope| %>
      <tr>
        <td><%= telescope.name %></td>
        <td><%= link_to 'Show', telescope %></td>
      </tr>
    <% end %>
  </tbody>
</table>
