<h1>TelescopeSharing</h1>

<p>Rent a remote telescope and explore the heaven from your home.</p>

<ul>
<% telescopes.each do |telescope| %>
  <li><%= link_to telescope.name, telescope_path(telescope) %></li>
<% end %>
</ul>
