<% content_for(:page_name, "landing-page") %>

<section class="landing-welcome">
  <div class="middle">
    <h1 class="text-center">Rent a remote telescope.</h1>
    <h2 class="text-center">Observe the stars directly form your computer.</h2>
    <!--
      <p class="text-center"><%= link_to "Sign up", new_user_session_path, class: "btn btn-success btn-lg" %></p>
    -->
  </div>
</section>

<section class="landing-telescopes">
  <div class="middle">
    <h1 class="text-center">Find a telescope.</h1>

    <%= render "telescopes/map_telescopes" %>
  </div>
</section>
