<h1>Reservation</h1>

<div class="alert alert-success" role="alert">You have successfully booked the telescope <%= link_to telescope.name, telescope %> for <%= reservation.scheduled_on.to_formatted_s(:long) %>.</div>

<hr>

<p><%= link_to 'Cancel reservation', telescope_reservation_path, method: :delete, data: { confirm: 'Are you sure?' } %></p>
